<!DOCTYPE html>
<html class="no-js" lang="en">
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="/assets/images/favnew.svg"
  />

  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= metaTags[0].description %>" />
    <meta name="keywords" content="<%= metaTags[1].keywords %>" />
    <meta name="author" content="<%= metaTags[2].author %>" />
    <meta name="robots" content="<%= metaTags[3].robots %>" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%- include('layout/header.ejs') %>
  </head>

  <body>
    <div id="loader" class="loader-overlay_a" style="display: none">
      <div class="loader_a"></div>
    </div>

    <div id="myModal" class="pay-modal">
      <div class="pay-modal-content">
        <span class="pay-close" onclick="closeModal()">&times;</span>
        <p id="modalMessage"></p>
        <!-- <div id="loader" style="display: none;">Loading...</div> -->
      </div>
    </div>

    <div class="main-wrapper">
      <div class="container">
        <div class="attende-registration" style="margin-top: 100px">
          <div class="registration-title">
            <h1>Attendee</h1>
          </div>
        </div>
      </div>
      <div
        class="register-table"
        style="
          background-image: url('assets/images/RegisterUnion.png');
          background-size: cover;
          background-position: center center;
          width: 100%;
          min-height: 818px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <div class="container">
          <div class="delegate-table-section">
            <!-- <div class="delegate-title">
            <h1>Attendee</h1>
          </div> -->
            <div class="register-form">
              <div class="container">
                <div
                  id="alertMessage"
                  class="alert"
                  style="position: absolute; top: 250px; display: none"
                ></div>

                <form action="/attende" method="post" id="attendeForm">
                  <input type="hidden" name="type" value="attende" />
                  <div class="row form_head">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="name">Name:</label>
                        <input
                          type="text"
                          id="name"
                          name="name"
                          class="form-control"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="gender">Gender:</label>
                        <select
                          id="gender"
                          name="gender"
                          class="form-control"
                          required
                        >
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Other">Other</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="contact">Contact Number:</label>
                        <input
                          type="tel"
                          id="contact"
                          name="contact"
                          class="form-control"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Email ID:</label>
                        <input
                          type="email"
                          id="email"
                          name="email"
                          class="form-control"
                          required
                        />
                        <p id="emailError" class="text-danger"></p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="place">City:</label>
                        <input
                          type="text"
                          id="place"
                          name="place"
                          class="form-control"
                          required
                        />
                      </div>
                    </div>

                    <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">Registered Mail:</label>
                      <input type="email" id="email" name="email" class="form-control" value="<%= savedEmail %>"
                        readonly required />
                      <p id="emailError" class="text-danger"></p>
                    </div>
                  </div> -->
                    <!-- 
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="location">District:</label>
                        <input
                          type="text"
                          id="location"
                          name="location"
                          class="form-control"
                          style="width: 100%"
                          placeholder="District"
                          required
                        />
                      </div>
                    </div> -->

                    <!------------------ profession ------------------------->

                    <!-- <div class="col-md-6">
                      <div class="form-group">
                        <label for="professions">profession:</label>
                        <select
                          id="professions"
                          name="profession"
                          class="form-control scrollable-dropdown"
                          required
                        >
                          <option value="education">Education</option>
                          <option value="literature">Literature</option>
                          <option value="research">Research</option>
                          <option value="business">Business</option>
                          <option value="art">Art</option>
                          <option value="media">Media</option>
                          <option value="film">Film</option>
                          <option value="it">Information Technology</option>
                          <option value="healthcare">Health Care</option>
                          <option value="law">Law & Order</option>
                          <option value="music">Music</option>
                          <option value="ngo">NGO</option>
                          <option value="public-service">Public Service</option>
                          <option value="other">Other</option>
                        </select>
                      </div>
                    </div> -->

                    <!------------------ profession ------------------------->

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="country">Registering From</label>
                        <select
                          id="country"
                          name="countryFrom"
                          class="form-control scrollable-dropdown"
                          required
                        >
                          <option value="India">India</option>
                          <option value="UAE">UAE</option>
                          <option value="Saudi Arabia">Saudi Arabia</option>
                          <option value="Qatar">Qatar</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div
                    class="row"
                    style="align-items: center; margin-top: 50px"
                  >
                    <div class="col-12 d-flex justify-content-center">
                      <button
                        type="submit"
                        class="btn btn-primary"
                        style="border-radius: 20px"
                      >
                        Register
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Start -->
    <%- include('layout/footer.ejs') %>
    <!-- Footer End -->

    <!-- JS
  ============================================ -->

    <!-- carousel & jQuery JS -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="assets/js/js/jquery.min.js"></script>
    <script src="assets/js/js/owl.carousel.min.js"></script>
    <script src="assets/js/js/main.js"></script>

    <!-- Modernizer & jQuery JS -->
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/back-to-top.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- Main JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      type="text/javascript"
      src="node_modules/slick-carousel/slick/slick.min.js"
    ></script>
    <script src="assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function openModal(message) {
        $("#myModal #modalMessage").html(message);
        $("#myModal #loader").hide();
        $("#myModal").show();
      }

      function closeModal() {
        $("#myModal").hide();
      }

      $(document).ready(function () {
        // Handle form submission
        $("#attendeForm").submit(function (e) {
          e.preventDefault();

          // Show the loader
          $("#loader").show();

          // Send the form data to the server via AJAX
          $.ajax({
            type: "POST",
            url: "/attende",
            data: $(this).serialize(),
            success: function (response) {
              // Display a success message in the modal
              openModal(response.message);

              // Clear the form fields
              $("#attendeForm")[0].reset();
            },
            error: function (xhr, status, error) {
              // Display an error message in the modal
              openModal(xhr.responseJSON.message);

              // Clear the form fields
              $("#attendeForm")[0].reset();
            },
            complete: function () {
              // Hide the loader
              $("#loader").hide();
            },
          });
        });
      });
    </script>
  </body>
</html>
