<!DOCTYPE html>
<html class="no-js" lang="en">
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="/assets/images/favnew.svg"
  />

  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= metaTags[0].description %>" />
    <meta name="keywords" content="<%= metaTags[1].keywords %>" />
    <meta name="author" content="<%= metaTags[2].author %>" />
    <meta name="robots" content="<%= metaTags[3].robots %>" />
    <%- include('layout/header.ejs') %>
    <!-- Include flatpickr CSS from CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />

    <!-- Include flatpickr JavaScript from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>

  <body>
    <div class="main-wrapper">
      <div class="container">
        <div class="attende-registration" style="margin-top: 100px">
          <div class="registration-title">
            <h1>Delegate Registration</h1>
          </div>
          <div style="display: flex; justify-content: center">
            <img style="width: 250px" src="/assets/images/qrcode.jpeg" alt="" />
          </div>
        </div>
      </div>
      <div
        class="register-table"
        style="
          background-image: url('assets/images/RegisterUnion.png');
          background-size: cover;
          background-position: center center;
          width: 100%;
          min-height: 818px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <div class="container">
          <div class="delegate-table-section">
            <!-- <div class="delegate-title">
            <h1>Delegate</h1>
          </div> -->
            <div class="register-form">
              <div class="container">
                <form
                  action="/delegate"
                  method="post"
                  enctype="multipart/form-data"
                  id="delegateForm"
                >
                  <input type="hidden" name="type" value="delegate" />

                  <div class="row form_head">
                    <div class="gpay-number">
                      Gpay No: <strong>9562761133</strong>
                    </div>
                    <!-- Note Section Start -->
                    <div class="pay-note-section">
                      <p>
                        <strong>Note: </strong> Please scan the Google Pay QR
                        code or use the Google Pay number 9562761133 for
                        payment. After completing the payment, kindly copy the
                        transaction ID and paste it into the registration form.
                      </p>
                    </div>
                    <!-- Note Section End -->
                    <div
                      id="success-message"
                      class="alert alert-success"
                      style="display: none"
                    >
                      Registration successful! Thank you for registering.
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="name">Name:</label>
                        <input
                          type="text"
                          id="name"
                          name="name"
                          class="form-control"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="gender">Gender:</label>
                        <select
                          id="gender"
                          name="gender"
                          class="form-control"
                          required
                        >
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Other">Other</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="contact">Contact Number:</label>
                        <input
                          type="tel"
                          id="contact"
                          name="contact"
                          class="form-control"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Email ID:</label>
                        <input
                          type="email"
                          id="email"
                          name="email"
                          class="form-control"
                          required
                        />
                        <p id="emailError" class="text-danger"></p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="place">City:</label>
                        <input
                          type="text"
                          id="place"
                          name="place"
                          class="form-control"
                          required
                        />
                      </div>
                    </div>

                    <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">Registered Mail:</label>
                      <input type="email" id="email" name="email" class="form-control" value="<%= savedEmail %>"
                        readonly required />
                      <p id="emailError" class="text-danger"></p>
                    </div>
                  </div> -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="photo">Add Photo:</label>
                        <input
                          type="file"
                          id="photo"
                          name="photo"
                          required
                          class="form-control-file form-control"
                          style="width: 100%"
                        />
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="professions">profession:</label>
                        <input
                          type="text"
                          id="profession"
                          name="profession"
                          required
                          class="form-control-file form-control"
                          style="width: 100%"
                        />
                        <!-- <select
                          id="professions"
                          name="profession"
                          class="form-control scrollable-dropdown"
                          required
                        >
                          <option value="education">Education</option>
                          <option value="literature">Literature</option>
                          <option value="research">Research</option>
                          <option value="business">Business</option>
                          <option value="art">Art</option>
                          <option value="media">Media</option>
                          <option value="film">Film</option>
                          <option value="it">Information Technology</option>
                          <option value="healthcare">Health Care</option>
                          <option value="law">Law & Order</option>
                          <option value="music">Music</option>
                          <option value="ngo">NGO</option>
                          <option value="public-service">Public Service</option>
                          <option value="other">Other</option>
                        </select> -->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="transactionId">transaction id:</label>
                        <input
                          type="text"
                          id="transactionId"
                          name="transactionId"
                          required
                          class="form-control-file form-control"
                          style="width: 100%"
                        />
                      </div>
                    </div>
                    <!-- 
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="day">Select Day:</label>
                        <input
                          type="text"
                          id="day"
                          name="day"
                          class="form-control datepicker-input"
                          placeholder="Select your Day"
                          required
                        />
                      </div>
                    </div> -->
                  </div>
                  <div class="row register-amount-btn">
                    <div class="col-12 d-flex justify-content-center">
                      <button
                        type="submit"
                        class="btn btn-primary"
                        style="border-radius: 20px"
                      >
                        Register
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Start -->
    <%- include('layout/footer.ejs') %>
    <!-- Footer End -->

    <!-- JS
  ============================================ -->

    <!-- carousel & jQuery JS -->

    <script src="assets/js/js/jquery.min.js"></script>
    <script src="assets/js/js/owl.carousel.min.js"></script>
    <script src="assets/js/js/main.js"></script>

    <!-- Modernizer & jQuery JS -->
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/back-to-top.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- Main JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      type="text/javascript"
      src="node_modules/slick-carousel/slick/slick.min.js"
    ></script>
    <script src="assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("delegateForm");
        const successMessage = document.getElementById("success-message");

        form.addEventListener("submit", async function (event) {
          event.preventDefault();

          try {
            const response = await fetch("/delegate", {
              method: "POST",
              body: new FormData(form),
            });

            if (response.ok) {
              const responseData = await response.json();

              if (responseData.message === "Registration success") {
                // Hide the form and display the success message
                successMessage.style.display = "block";

                // Clear the form after 3 seconds
                setTimeout(() => {
                  form.reset();
                  form.style.display = "block";
                  successMessage.style.display = "none";
                }, 3000);
              } else {
                console.error("Unexpected response:", responseData);
                // Handle unexpected responses if needed
              }
            } else {
              // Handle other response statuses (e.g., validation errors)
              const responseData = await response.json();
              console.error(responseData.error);
              // Display an error message if needed
            }
          } catch (error) {
            console.error("Error submitting form:", error);
            // Display an error message if needed
          }
        });

        const currentDate = new Date();
        const novemberFirst = new Date(currentDate.getFullYear(), 10, 30);
        const decemberLast = new Date(currentDate.getFullYear(), 11, 3);

        flatpickr(".datepicker-input", {
          dateFormat: "Y-m-d",
          mode: "multiple", // Enable multiple date selection
          minDate: novemberFirst,
          maxDate: decemberLast,
        });
      });
    </script>
  </body>
</html>
