<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <meta name="description" content="<%= metaTags[0].description %>" />
  <meta name="keywords" content="<%= metaTags[1].keywords %>" />
  <meta name="author" content="<%= metaTags[2].author %>" />
  <meta name="robots" content="<%= metaTags[3].robots %>" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favnew.svg" />
  <%- include('layout/header.ejs') %>

    <style>
      /* Define the animation styles */
      @keyframes fadeInLeft {
        from {
          opacity: 0;
          transform: translateX(-100%);
        }

        to {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @keyframes fadeInRight {
        from {
          opacity: 0;
          transform: translateX(100%);
        }

        to {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @keyframes fadeInTop {
        from {
          opacity: 0;
          transform: translateY(-100%);
        }

        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @keyframes fadeInBottom {
        from {
          opacity: 0;
          transform: translateY(100%);
        }

        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      /* Apply the animation to the image elements */
      .fade-in-left {
        animation: fadeInLeft 4s;
      }

      .fade-in-right {
        animation: fadeInRight 4s;
      }

      .fade-in-top {
        animation: fadeInTop 4s
      }

      .fade-in-bottom {
        animation: fadeInBottom 4s;
      }
    </style>
</head>

<body>
  <div class="main-wrapper">
    <div class="container">
      <div class="attende-registration" style="margin-top: 100px; padding-bottom: 100px;">
        <div class="registration-title">
          <h1>Sessions</h1>
        </div>
        <!-- 
        <div id="imageContainer">
         


          <div style="margin-top: 5px" class="fade-in-left">
            <img src="/assets/images/program1.svg" alt="PDF Document 1" class="img-one" />
          </div>
          <div style="margin-top: 5px" class="fade-in-right">
            <img src="/assets/images/program2.svg" alt="PDF Document 2" class="img-two" />
          </div>
          <div style="margin-top: 5px" class="fade-in-top">
            <img src="/assets/images/program3.svg" alt="PDF Document 3" class="img-three" />
          </div>
          <div style="margin-top: 5px" class="fade-in-bottom">
            <img src="/assets/images/SessionPage4.svg" alt="PDF Document 4" class="img-four" />
          </div>
        </div> -->
        dksmdlsmdl
        <div id="pdfViewer"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"
          integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
          // Include PDF.js
          // You can download and host these files or link to them directly from a CDN

          // Initialize PDF.js
          pdfjsLib.getDocument('/assets/pdf/MLF_Program2.pdf').promise.then(function (pdf) {
            const pdfViewer = document.getElementById('pdfViewer');

            for (let pageNum = 1; pageNum <= 4; pageNum++) {
              pdf.getPage(pageNum).then(function (page) {
                var scale = 1; // Adjust scale as needed
                var viewport = page.getViewport({ scale: scale });

                // Prepare canvas for each page
                var canvas = document.createElement('canvas');
                canvas.style.display = "block"; // Ensures each canvas is on a new line
                var context = canvas.getContext('2d');
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                // Render each PDF page into its own canvas
                var renderContext = {
                  canvasContext: context,
                  viewport: viewport
                };
                page.render(renderContext);

                // Append each canvas to the div
                pdfViewer.appendChild(canvas);
              });
            }
          });
        </script>


      </div>
    </div>
  </div>

  <!-- Footer Start -->
  <%- include('layout/footer.ejs') %>
    <!-- Footer End -->
</body>

</html>