<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Malabar Literature Festival</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favnew.svg"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800&amp;family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Archivo:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />

    <link
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500"
      rel="stylesheet"
      type="text/css"
    />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/flaticon.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/aos.css" />
    <link rel="stylesheet" href="assets/css/nice-select.css" />

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css"
    />

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"
    ></script>

    <!-- carousel Style CSS -->
    <link rel="stylesheet" href="assets/css/css/owl.carousel.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="assets/css/css/style.css" />
    <title><%= title %></title>
    <meta name="description" content="<%= metaTags[0].description %>" />
    <meta name="keywords" content="<%= metaTags[1].keywords %>" />
    <meta name="author" content="<%= metaTags[2].author %>" />
    <meta name="robots" content="<%= metaTags[3].robots %>" />
    <%- include('layout/header.ejs') %>
  </head>

  <body>
    <div class="main-wrapper">
      <div class="container">
        <div class="privacy" style="margin-top: 150px; padding-bottom: 100px">
          <h1>Refund Policy</h1>

          <p>
            Thank you for choosing to be a part of the Malabar Literature
            Festival. We value your participation and support. Please read the
            following Refund Policy carefully before proceeding with your event
            registration, as it outlines the terms and conditions regarding
            refunds.
          </p>

          <h3>1. Refund Policy Overview:</h3>
          <p>
            We understand that circumstances may change, and plans might need to
            be adjusted. However, kindly note that all event registrations made
            for the Malabar Literature Festival are non-refundable. This policy
            is in place to ensure the efficient organization and smooth
            execution of the festival.
          </p>

          <h3>2. No Refund Policy:</h3>
          <p>
            Once an event registration is confirmed and payment is made, no
            refunds will be issued for any reason, including but not limited to,
            changes in personal schedules, travel arrangements, or any other
            unforeseen circumstances.
          </p>

          <h3>3. Transferability:</h3>
          <p>
            Event registrations are non-transferable. This means that the
            registration cannot be transferred to another individual, event, or
            year.
          </p>

          <h3>4. Event Changes or Cancellation:</h3>
          <p>
            In the unlikely event that the Malabar Literature Festival is
            canceled or rescheduled due to unforeseen circumstances,
            participants will have the option to either attend the rescheduled
            event (if applicable) or receive credit towards a future edition of
            the festival, as determined by the event organizers.
          </p>
          <h3>5. Contact Information:</h3>
          <p>
            For any inquiries or assistance regarding your event registration,
            please contact our support team. We are here to help and address any
            concerns you may have.
          </p>

          <p>
            By proceeding with your event registration, you acknowledge and
            agree to abide by the terms and conditions outlined in this Refund
            Policy.
          </p>

          <p>
            Please ensure that you have reviewed all event details, dates, and
            schedules before finalizing your registration. We appreciate your
            understanding and cooperation in adhering to this policy.
          </p>
        </div>
      </div>
    </div>

    <!-- Footer Start -->
    <%- include('layout/footer.ejs') %>
    <!-- Footer End -->

    <!-- JS
  ============================================ -->

    <!-- carousel & jQuery JS -->

    <script src="assets/js/js/jquery.min.js"></script>
    <script src="assets/js/js/owl.carousel.min.js"></script>
    <script src="assets/js/js/main.js"></script>

    <!-- Modernizer & jQuery JS -->
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/back-to-top.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- Main JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      type="text/javascript"
      src="node_modules/slick-carousel/slick/slick.min.js"
    ></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
