<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Malabar Literature Festival</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favnew.svg"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800&amp;family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Archivo:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />

    <link
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500"
      rel="stylesheet"
      type="text/css"
    />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/flaticon.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/aos.css" />
    <link rel="stylesheet" href="assets/css/nice-select.css" />

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css"
    />

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"
    ></script>

    <!-- carousel Style CSS -->
    <link rel="stylesheet" href="assets/css/css/owl.carousel.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="assets/css/css/style.css" />
  </head>

  <body>
    <div class="main-wrapper">
      <!-- Header Navigation Start -->
      <%- include('layout/header.ejs') %>
      <!-- Header Navigation End -->

      <div class="container">
        <div class="attende-registration" style="margin-top: 100px">
          <div class="registration-title">
            <h1>Student</h1>
          </div>
        </div>
      </div>
      <div
        class="register-table"
        style="
          background-image: url('assets/images/RegisterUnion.png');
          background-size: cover;
          background-position: center center;
          width: 100%;
          min-height: 818px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <div class="container">
          <div class="delegate-table-section">
            <!-- <div class="delegate-title">
            <h1>Student</h1>
          </div> -->
            <div class="register-form">
              <div class="container">
                <div
                  id="submit-message"
                  class="alert alert-success"
                  style="display: none"
                ></div>
                <div
                  class="alert alert-info"
                  id="submitting-alert"
                  style="display: none"
                >
                  Submitting...
                </div>
                <form
                  action="/student"
                  method="post"
                  enctype="multipart/form-data"
                  id="studentForm"
                >
                  <input type="hidden" name="type" value="student" />
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Registered Mail:</label>
                        <input
                          type="email"
                          id="email"
                          name="email"
                          class="form-control"
                          value="<%= savedEmail %>"
                          readonly
                          required
                        />
                        <p id="emailError" class="text-danger"></p>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="photo">Add Photo:</label>
                        <input
                          type="file"
                          id="photo"
                          name="photo"
                          class="form-control-file form-control"
                          style="width: 100%"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="professions">Profession:</label>
                        <select
                          id="professions"
                          name="profession"
                          class="form-control"
                          required
                        >
                          <option value="teacher">Teacher</option>
                          <option value="engineer">Engineer</option>
                          <option value="doctor">Doctor</option>
                          <option value="artist">Artist</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="institution">Name of Institution:</label>
                        <input
                          type="text"
                          id="institution"
                          name="institution"
                          class="form-control"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="category">Category:</label>
                        <select
                          id="category"
                          name="category"
                          class="form-control"
                          required
                        >
                          <option value="Secondary">Secondary</option>
                          <option value="High-Secondary">High-Secondary</option>
                          <option value="Under Graduate">Under Graduate</option>
                          <option value="Post-Graduation">
                            Post-Graduation
                          </option>
                          <option value="Research">Research</option>
                          <option value="Other">Other</option>
                        </select>
                      </div>
                    </div>
                    
                    <%- include('layout/calender.ejs') %>

                    <%- include('layout/matterOfInterest.ejs') %>
                  </div>
                  <div class="row register-amount-btn">
                    <div class="col-12 d-flex justify-content-center">
                      <button
                        type="submit"
                        class="btn btn-primary"
                        style="border-radius: 20px"
                      >
                        Pay to Register ₹299.00
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Start -->
    <%- include('layout/footer.ejs') %>
    <!-- Footer End -->

    <!-- JS
  ============================================ -->

    <!-- carousel & jQuery JS -->

    <script src="assets/js/js/jquery.min.js"></script>
    <script src="assets/js/js/owl.carousel.min.js"></script>
    <script src="assets/js/js/main.js"></script>

    <!-- Modernizer & jQuery JS -->
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/back-to-top.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- Main JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      type="text/javascript"
      src="node_modules/slick-carousel/slick/slick.min.js"
    ></script>
    <script src="assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#attendeForm").submit(function (event) {
          event.preventDefault(); // Prevent the default form submission

          // Show the "Submitting..." alert message
          $("#submitting-alert").show();

          // Serialize the form data
          var formData = $(this).serialize();

          // Send an AJAX request to your server to handle form submission
          $.ajax({
            type: "POST",
            url: "/student",
            data: formData,
            success: function (response) {
              // Hide the "Submitting..." alert message
              $("#submitting-alert").hide();

              // Display the success message
              $("#submit-message")
                .removeClass("alert-danger")
                .addClass("alert-success");
              $("#submit-message").html(response.message); // Use the message from the response
              $("#submit-message").show();

              // Clear the form fields if needed
              $("#attendeForm")[0].reset();

              // Set a timer to hide the success message after 3 seconds
              setTimeout(function () {
                $("#submit-message").hide();
              }, 3000);

              // Send a WhatsApp message using the WhatsApp API
              sendWhatsAppMessage(response.number, response.message);
            },
            error: function (xhr, status, error) {
              // Hide the "Submitting..." alert message
              $("#submitting-alert").hide();

              // Display an error message if the registration fails
              $("#submit-message")
                .removeClass("alert-success")
                .addClass("alert-danger");
              $("#submit-message").html(xhr.responseJSON.error); // Use the error message from the response
              $("#submit-message").show();
            },
          });
        });
      });
    </script>
  </body>
</html>
