<!DOCTYPE html>
<html class="no-js" lang="en">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favnew.svg" />

  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= metaTags[0].description %>" />
    <meta name="keywords" content="<%= metaTags[1].keywords %>" />
    <meta name="author" content="<%= metaTags[2].author %>" />
    <meta name="robots" content="<%= metaTags[3].robots %>" />
  </head>
  <body>
    <div class="main-wrapper">
      <h1>Payment Success</h1>
    </div>
  </body>
</html>
